<!DOCTYPE html>

<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div th:object="${users}"></div>
<div th:object="${unassignedBooks}"></div>

<div class="wrapper">
    <h2>Admin</h2>

    <form th:action="@{/assign}" method="post">
        <span th:if="${successAssign != null}" style="color: green" th:text="${successAssign}"></span>

        <div class="input-box">
            <label for="selectuser"> Select User:

                <select name="selectedUser" id="selectuser">
                    <option th:each="user : ${users}"
                            th:value="${user.id}"
                            th:text="${user.name + ' ' + user.lastName}">
                    </option>

                    </option>
                </select>
            </label>
        </div>

        <br>
        <div class="input-box">
            <label for="selectedBook"> Select Book:
                <select name="selectedBook" id="selectedBook">

                    <option th:each="book : ${unassignedBooks}"
                            th:value="${book.id} "
                            th:text="${book.bookName + '/' + book.authorName}">
                    </option>

                </select>
            </label>
        </div>

        <br>
        <div class="input-box button">
            <input type="submit" value="Assign">
        </div>
    </form>
</div>
</body>
</html>
